{% extends 'news/base.html' %}
{% load static %}

{% block title %} User password tiklash {% endblock %}

{% block content %}
    <h1>Parolni o'zgartirish</h1>
    <p>Parolni o'zgartirish uchun, quyidagi formani to'diring</p>
    {% if validlink %}
       <p>Itimos yangi parolni ikki marotoba kiriting</p>
       <form action="" method="post">{% csrf_token %}
        {{form.as_p}}
        <p><button type="submit">Change password</button></p>
       </form>
    {% else %}
       <p>Siz natog'ri linkdan foydalandingiz, u avval foydalangan bo'lishi va ishlatish vaqti o'tib ketgan bo'lishi mumkin </p>
    {% endif %}
{% endblock %}